{
  "trailingComma"      : "es5",
  "tabWidth"           : 2,
  "semi"               : true,
  "singleQuote"        : false,
  "quoteProps"         : "preserve",
  "alignPropertyValues": "group",
  "printWidth"         : 100,
  "overrides": [
    {
      "files"  : "documentation/markdown_syntax.md",
      "options": { "embeddedLanguageFormatting": "off" }
    }
  ]
}
